.radio-section {
    margin-top: auto;
    max-width: center;
    
}

.radio-container {
    max-width: auto; /* Ajusta el ancho máximo del contenedor de la radio */
    margin: auto; /* Centra el contenedor horizontalmente */
}
