body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background: linear-gradient(135deg, #1451a0, #d31665);
    color: #000000;
    padding: 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    transition: background-color 0.3s ease-in-out;
    border-radius: 20px; 
}


header:hover {
    background: linear-gradient(135deg, #450869, #183ebd);
}

.logo-container {
    flex: 1; 
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #503a1e; 
    padding: 0.5em; 
    border-radius: 0.5em; 
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1493, 0 0 30px #FF1493, 0 0 40px #FF1493, 0 0 55px #FF1493, 0 0 75px #FF1493;
}

h2:hover {
    color: #b30000;
    background: linear-gradient(135deg, #450869, #183ebd);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #020202; 
    padding: 1em; 
    border-radius: 1em; 
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0b2ce6, 0 0 30px #581be7, 0 0 40px #14ffc4, 0 0 55px #000000, 0 0 75px #FF1493;
}

@keyframes neon {
    0% {
        color: #2c42c0; 
    }
    50% {
        color: #c03b3b; 
    }
    100% {
        color: #00ff00; 
    }
}

h1.neon-text {
    animation: neon 2s infinite alternate;
}

p {
    font-family: Arial, sans-serif;
    font-size: 1em;
    line-height: 1.6;
    margin: 1em 0;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5em; 
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-family: Arial, sans-serif;
    font-size: 1em; 
    line-height: 1.6;
    margin: 1em 0; 
    padding: 1em;
    background-color: rgba(201, 32, 164, 0.7);
    border-radius: 0.5em; 
    text-align: center;
    display: flex;
}

nav {
    flex: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-right: 1em; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

a {
    color: #b30000;
}

@media (max-width: 1080) {
    nav ul {
        justify-content: flex-end;
    }
}


label {
    display: center; 
    margin-bottom: 0.5em; 
    font-weight: bold; 
    color: #000000; 
}


#registro-formulario .input-field,
#registro-formulario select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #b1d5f1;
}


#registro-formulario .input-field:focus,
#registro-formulario select:focus {
    border-color: #ff0000;
    background-color:rgba(216, 207, 207, 0.8);
    outline: none;
}


main {
    padding: 1em; 
    
}

footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-align: center;
    padding: 1em;
}

.centro-horizontal {
    text-align: center;
}

.reproductor-centrado {
    display: inline-block;
}

.formulario-contacto {
    background-color: #f9f9f9;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1); 
    margin-bottom: 1em;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em; 
    border: 1px solid #ccc;
    border-radius: 0.5em; 
    font-size: 1em; 
    box-sizing: border-box;
}

.input-field:focus {
    outline: none;
    border-color: #007bff;
}

textarea {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em; 
    border: 1px solid #ccc;
    border-radius: 0.5em; 
    font-size: 1em; 
    resize: vertical;
    box-sizing: border-box;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 1em 2em; 
    border-radius: 0.5em; 
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.container {
    text-align: center;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 1em; 
    box-sizing: border-box; 
    position: relative;
}

.back-button,
.term-button {
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    border: none;
    padding: 1em 2em; 
    border-radius: 0.5em;
    font-size: 1em; 
    cursor: pointer;
}

.back-button:hover,
.term-button:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

@media (max-width: 768px) {
    header {
        padding: 0.5em; 
    }

    h2,
    h1 {
        padding: 0.5em; 
        font-size: 0.8em; 
    }

    p,
    ul li {
        padding: 0.5em;  
        font-size: 0.9em; 
    }

    .back-button,
    .term-button {
        padding: 0.5em 1em; 
        font-size: 0.9em; 
    }

    .gif-container img {
        width: 2em; 
    }
}
