.video-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.video-wrapper {
    width: 100%;
    padding-top: 56.25%; 
    position: relative;
}